@font-face {
    font-family: 'latoregular';
    src: url('../fonts/lato-regular-webfont.eot');
    src: url('../fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-regular-webfont.woff2') format('woff2'),
         url('../fonts/lato-regular-webfont.woff') format('woff'),
         url('../fonts/lato-regular-webfont.ttf') format('truetype'),
         url('../fonts/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

article,aside,canvas,figure,figure img,figcaption,hgroup,footer,header,nav,section,audio,video{display:block;}
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,hr,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figure,figcaption,hgroup,menu,footer,header,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;}
ol,ul{list-style:none;}
img{border:0;}
table{border-collapse:collapse;border-spacing:0;empty-cells:show;}
th{text-align:left;}
body,button,input,select,textarea{font-family:'latoregular';font-size:11px;letter-spacing:1px;color:#3f7b65;line-height:20px;text-transform:uppercase;}
body{font-size:11px;text-align:center;background:#FFFFFF;overflow-x:hidden;}
button,input,select,textarea{font-size:100%;vertical-align:middle;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;outline:none;}
a{color:#3f7b65;text-decoration:none;}
strong,th,thead td{font-weight:700;}
h1,h2,h3,h4,h5,h6{padding-bottom:1em;font-size:16px;font-weight:bold;line-height:1.1;}
button,label{padding:0;border:0;cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}

a.underline {
  text-decoration: underline;
}
img {
  display: block;
  margin: 0 auto;
}

header {
  margin-top: 115px;
}

#content {
  margin-top: 68px;
}

footer {
	margin-top: 68px;
}
footer span {
  padding-left: 4px;
  padding-right: 4px;
}

.button {
  margin-top: 55px;
  margin-bottom: 40px;
}
.button a {
  display: inline-block;
  padding: 4px 12px;
  border: 1px solid #3f7b65;
}